@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.landpage {
  width: 100% !important;
  height: auto !important;
  z-index: 5;
}

.bg-landpage {
  background-color: transparent;
  background-image: url("/img/bg-landpage.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 100%;
}

.bg-gray-ligth {
  background-color: #E3E3F7;
}

label {
  font-size: large !important;
}

.landpage-container {
  width: 100% !important;
  panding: 20% !important;
}

.title-campaign {
  width: 100% !important;
  panding: 10% !important;
}

.text-campaign {
  width: 100% !important;
  panding: 10% !important;
  margin-top: 5% !important;
  font-size: 22px;
  line-height: 1.6;
}

.title-campaign,
.text-campaign {
  color: #EEE !important;
  font-weight: 700;
}
